In [1]:
string = "Abhijeet"

In [2]:
for i in string:
    print(i, end = ' ')
    if (i == 'i'):
        break

A b h i

In [3]:
print(2, end = '')
print(3)

23

In [4]:
inp = input('Hello')
count = 0

for i in inp:
    print(i, end = ' ')
    if (count == 3):
        break
    else:
        count += 1

HelloAbhijeet
A b h i

In [13]:
var = True

In [14]:
var = str(var)

In [15]:
print(var, type(var))

True <class 'str'>

In [17]:
string = 'Hello'

In [18]:
print(string)

Hello

In [19]:
print(id(string), string)
string = 'Abhijeet'
print(id(string), string)

2666994394032 Hello
2666991786480 Abhijeet

In [23]:
string[-1] = 'A'

TypeError: 'str' object does not support item assignment

In [26]:
print(id(string), string)
string = string + 'Bhattacharya'
print(id(string), string)

2666991786480 Abhijeet
2667005426064 AbhijeetBhattacharya

In [30]:
string = 'The sky is blue'
count = 0

for i in string:
    print(i, end = ' ')
    if (i != ' '):
        count += 1
print(count)

T h e   s k y   i s   b l u e 12

In [33]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [49]:
string = 'The sky is blue'
count = 0

for i in string:
#     print(i, end = ' ')
    count += 1
temp = ''

for i in range(count - 1, -1, -1):
    temp += string[i]
#     print(string[i], end = '')
print(temp)

eulb si yks ehT

In [98]:
string = 'The sky is blue'

ans = ''
count = 0
for i in string:
    count += 1

temp = ''
for i in range(count - 1, -1, -1):
    if (string[i] == ' '):
#         print(temp)
        ans += temp + ' '
        temp = ''
    else:
#         cap_i = ord(string[i]) - 32
#         temp = chr(cap_i) + temp
        temp = string[i] + temp

ans += temp

In [99]:
ans

'blue is sky The'

In [115]:
def lower_upper(string):
    for i in string:
        if (ord(i) >= ord('a') and ord(i) <= ord('z')):
            print(chr(ord(i) - 32), end = '')
        else:
            print(i, end = '')

In [116]:
lower_upper("Hello My Name Is Abhijeet")

HELLO MY NAME IS ABHIJEET

In [117]:
chr(65)

'A'

In [127]:
def upper_lower(string):
    ans = ''
    for i in string:
        if (ord(i) >= ord('A') and ord(i) <= ord('Z')):
            ans += chr(ord(i) + 32)
#             print(chr(ord(i) + 32), end = '')
        else:
            ans += i
#             print(i, end = '')
    return ans

In [128]:
upper_lower("Hello My Name Is Abhijeet")

'hello my name is abhijeet'

In [138]:
inp = input('Yes/No')

if (upper_lower(inp) == 'yes'):
    print('Yes')
else:
    print('No')

Yes/NoYES
No

In [140]:
string = '  Hello  '

In [141]:
ans = ''
for i in string:
    if (i != ' '):
        ans += i

In [142]:
ans

'Hello'

In [144]:
name = '  Hello my name is Abhijeet  '

In [149]:
print(name.strip())
print(name)

Hello my name is Abhijeet
  Hello my name is Abhijeet

In [146]:
var = 7
var.strip()

AttributeError: 'int' object has no attribute 'strip'

In [153]:
n = 3

for i in range(n):
    for j in range(n):
        print(i, j)
        
for k in range(n):
    for l in range(n):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 2

In [154]:
'Hello I am ABhijeet'.lower()

'hello i am abhijeet'

In [155]:
'Hello I am ABhijeet'.upper()

'HELLO I AM ABHIJEET'

In [158]:
string = 'The sky is blue I am Abhijeet'

In [162]:
def replace_chr(string, chr_rem, chr_ins):
    ans = ''
    for i in string:
        if i != chr_rem:
            ans += i
        else:
            ans += chr_ins
    return ans

In [163]:
replace_chr(string, 'e', '!')

'Th! sky is blu! I am Abhij!!t'

In [165]:
string.replace('e', '!')

'Th! sky is blu! I am Abhij!!t'

In [167]:
def count_chr(string, chr_count):
    count = 0
    for i in string:
        if i == chr_count:
            count += 1
    return count

In [168]:
count_chr(string, 'e')

4

In [169]:
string.count('e')

4

In [170]:
string = 'Hello my name is Abhijeet'

In [172]:
ans = ''
for i in string:
    ans += i
    
print(ans)

Hello my name is Abhijeet