In [45]:


for i in range(2):
    try:
        inp = int(input('Enter numbers'))
    except:
        pass

Enter numberssdcsdc

In [2]:
# 2
# 20 3
# 20 3

# 5
# 50 6
# 50 6

In [34]:
# ERROR HANDLING

def divide(a, b):
    try:
        return a/b
    except ZeroDivisionError:
        return 'Zero cannot be the denominator'
    except TypeError:
        return 'Type Error'
    except NameError:
        return 'No name'
    except ValueError:
        return 'Value error'
    except:
        pass

In [8]:
divide(20, 0)

'Zero cannot be the denominator'

In [5]:
print(10/'0')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [6]:
print(9)

9

In [35]:
# ERROR RAISING

def adder(a, b, c):
    temp = 0
    if (type(a) == int) and (type(b) == int) and (type(c) == int):
        return a + b + c
    else:
        raise ArithmeticError('Meri Marzi')
        print('Something')

In [25]:
adder(1, '2', 6)

ArithmeticError: Meri Marzi

In [17]:
a = 10
raise NameError('Hello')

NameError: Hello

In [33]:
a = True
assert a!= True
print('Hello')

AssertionError:

In [37]:
import numpy as np

In [40]:
np.random.randint('a')

ValueError: invalid literal for int() with base 10: 'a'

In [41]:
np?

In [46]:
tup = (1, 2, 3, 4, 5)

In [47]:
type(tup)

tuple

In [50]:
for i in range(len(tup)):
    print(tup[i])

1
2
3
4
5

In [51]:
tup[0] = 2

TypeError: 'tuple' object does not support item assignment

In [99]:
def adder(a, b, c, d):
    return a+b+c+d, a, b, c, d

In [100]:
al, a = adder(1,2,3,4)

ValueError: too many values to unpack (expected 2)

In [95]:
print(al, a)

[10, 1, 2, 3, 4] 0

In [96]:
print(type(al), type(a))

<class 'list'> <class 'int'>

In [93]:
li = [1, 2, 3, 4]
for i in li:
    print(i)

1
2
3
4

In [103]:
tup = (1, 2, 3, 4, [5, 6, 7], 9)

In [108]:
tup[4].append(8)

In [109]:
print(tup)

(1, 2, 3, 4, [5, 6, 7, 8], 9)

In [110]:
for i in tup[4]:
    print(i)

5
6
7
8

In [111]:
tup[0] = 0

TypeError: 'tuple' object does not support item assignment

In [112]:
tup

(1, 2, 3, 4, [5, 6, 7, 8], 9)

In [113]:
tup = list(tup)

In [115]:
tup[0] = 0

In [116]:
tup = tuple(tup)

In [117]:
tup

(0, 2, 3, 4, [5, 6, 7, 8], 9)

In [122]:
# DICTIONARIES

In [132]:
d = {
    'a' : 1, 
    'b' : 2, 
    'c' : 3, 
    'd' : 4, 
    'e' : 5,
    1 : 'a',
}

In [134]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 1: 'a'}

In [142]:
d['e']

5

In [138]:
tup

(0, 2, 3, 4, [5, 6, 7, 8], 9)

In [139]:
tup[0]

0

In [144]:
for i in d:
    print(i, d[i])

a 1
b 2
c 3
d 4
e 5
1 a

In [147]:
for i in d.keys():
    print(i)

a
b
c
d
e
1

In [158]:
print(d.values())
for i in d.values():
    print(i)

dict_values([1, 2, 3, 4, 5, 'a'])
1
2
3
4
5
a

In [153]:
a = d.values()

In [152]:
for i in d.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
(1, 'a')

In [154]:
type(a)

dict_values

In [163]:
li = []
for i in d:
    print(d[i])
    li.append(d[i])

1
2
3
4
5
a

In [170]:
print(d.values(), li)

dict_values([1, 2, 3, 4, 5, 'a']) [1, 2, 3, 4, 5, 'a']

In [171]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 1: 'a'}

In [174]:
d['abhijeet'] = 'Bhattacharya'

In [175]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 1: 'a', 'abhijeet': 'Bhattacharya'}

In [178]:
d.pop(1)

'a'

In [179]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'abhijeet': 'Bhattacharya'}

In [181]:
a = d.copy()

In [183]:
a = a.clear()

In [185]:
a

In [186]:
d.get('a')

1